<app-navbar></app-navbar>
<div class="user-details">
  <div class="user-name">
    <div class="user-img">
      <p class="user-logo">{{ userLogo }}</p>
    </div>
    <h2>{{ newUser.firstName }} {{ newUser.lastName }}</h2>
    <ul>
      <li
        [ngClass]="{ active: detailsOption == 1 }"
        (click)="detailsOption = 1"
      >
        Account info
      </li>
      <li
        [ngClass]="{ active: detailsOption == 2 }"
        (click)="detailsOption = 2"
      >
        Address
      </li>
      <li
        [ngClass]="{ active: detailsOption == 3 || detailsOption==4 }"
        (click)="detailsOption = 3"
      >
        My Orders
      </li>
    </ul>
  </div>
  <div class="user-information" *ngIf="detailsOption == 1">
    <div class="user-account-info">
      <p>
        Account info
        <button (click)="enableNameForm()" title="edit" class="edit-btn">
          <span class="material-icons"> mode_edit </span>
        </button>
      </p>
      <form #nameForm="ngForm">
        <label>First Name</label><br />
        <input
          type="text"
          name="firstname"
          [disabled]="accountName"
          [(ngModel)]="user.firstName"
          required
        /><br />
        <label>Last Name</label><br />
        <input
          type="text"
          name="lastname"
          [disabled]="accountName"
          [(ngModel)]="user.lastName"
          required
        /><br />
        <label>Email</label><br />
        <input
          type="text"
          name="email"
          [disabled]="accountName"
          [(ngModel)]="user.email"
          required
        /><br />
        <label>Username</label><br />
        <input
          type="text"
          name="username"
          [disabled]="accountName"
          [(ngModel)]="user.username"
          required
        /><br />
        <button
          class="submit-details"
          [disabled]="!nameForm.valid || accountName"
          (click)="submitName()"
          [ngClass]="
            accountName
              ? 'submit-details'
              : !nameForm.valid
              ? 'submit-details'
              : 'submit-details-btn'
          "
        >
          Submit
        </button>
      </form>
    </div>
    <div class="user-account-password">
      <div>
        <p>
          Change password
          <button title="edit" class="edit-btn" (click)="enablePasswordForm()">
            <span class="material-icons"> mode_edit </span>
          </button>
        </p>
        <label>New Password</label><br />
        <div *ngIf="!validPassword" class="validation-text">
          Password must be 8 or more characters. Must have upper and lower case
          letters. Must contain at least one number and on symbol.
        </div>
        <div>
          <input
            [type]="hide ? 'password' : 'text'"
            type="password"
            name="password"
            [(ngModel)]="newPassword"
            [disabled]="accountPassword"
          /><mat-icon *ngIf="eyeIcon" (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </div>
        <br />
        <label>Repeat Password</label><br />
        <input
          [type]="hide ? 'password' : 'text'"
          type="password"
          [(ngModel)]="repeatPassword"
          [disabled]="accountPassword"
        /><br />
        <p class="password-error" *ngIf="!passwordMatch">
          *invalid or passwords don't match
        </p>
        <button
          (click)="submitPassword()"
          [disabled]="accountPassword"
          [ngClass]="accountPassword ? 'submit-details' : 'submit-details-btn'"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
  <div class="details-address" *ngIf="detailsOption == 2">
    <form #addressForm="ngForm">
      <label for="phone">Phone Number</label><br />
      <input
        type="number"
        name="phone"
        [(ngModel)]="user.telephone"
        [disabled]="accountAddress"
        required
      /><br />
      <label for="address">Address</label><br />
      <input
        type="text"
        name="address"
        [(ngModel)]="user.addressEntity.address"
        [disabled]="accountAddress"
        required
      /><br />
      <label for="city">City</label><br />
      <input
        type="text"
        name="city"
        [ngModel]="user.addressEntity.city"
        [disabled]="accountAddress"
        required
      /><br />
      <label for="county">County</label><br />
      <input
        type="text"
        name="county"
        [(ngModel)]="user.addressEntity.county"
        [disabled]="accountAddress"
        required
      /><br />
      <label for="postal">Postal Code</label><br />
      <input
        type="text"
        name="postal"
        [(ngModel)]="user.addressEntity.postalCode"
        [disabled]="accountAddress"
        required
      /><br />
      <button
        (click)="submitAddress()"
        [disabled]="accountAddress || !addressForm.valid"
        [ngClass]="
          accountAddress
            ? 'submit-details'
            : !addressForm.valid
            ? 'submit-details'
            : 'submit-details-btn'
        "
      >
        Submit
      </button>
    </form>
    <button title="edit" class="edit-btn" (click)="enableAddressForm()">
      <span class="material-icons"> mode_edit </span>
    </button>
  </div>
  <div *ngIf='detailsOption===3' class="details-address">
    <app-my-orders (sectionEvent)='receiveSectionChangeFromMyOrder($event)'></app-my-orders>
  </div>
  <div *ngIf='detailsOption==4'>
    <app-order-item [order]="order" (sectionEvent)='receiveSectionChangeFromOrderItem($event)'></app-order-item>
  </div>
  <div class="confirm" *ngIf="confirm">
    <mat-icon>check_circle_outline</mat-icon>
    <h2>User updated successfuly</h2>
  </div>
</div>
