<div class="header">
  <nav class="navbar">
    <img
      src="../assets/estore.jpg"
      alt=""
      title="Home"
      routerLink="/"
      class="image"
    />

    <div class="search">
      <input type="text" (keyup)="changeSearchTerm($event)" /><span
        class="material-icons search-icon"
      >
        search
      </span>
    </div>
    <div class="nav-options">
      <a (click)="goToLogin()" *ngIf="!userLogged"
        ><span class="material-icons"> account_circle </span>
        <h4>{{ "Navbar.SignIn" | translate }}</h4></a
      >
      <div class="user-dropdown" *ngIf="userLogged">
        <a
          cdkOverlayOrigin
          #trigger="cdkOverlayOrigin"
          (click)="userOptions = !userOptions"
          ><span class="material-icons"> account_circle </span>
          <h4>{{ user.firstName }}</h4></a
        >

        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="trigger"
          [cdkConnectedOverlayOpen]="userOptions"
        >
          <ul class="example-list">
            <li>
              <h4>{{ "Navbar.Hello" | translate }}</h4>
            </li>
            <li>
              <h4 class="user-name">
                {{ user.firstName }} {{ user.lastName }}
              </h4>
            </li>

            <li>
              <a routerLink="/account/details" class="view-user-details">
                > {{ "Navbar.MyDetails" | translate }}</a
              >
            </li>
            <button class="signout-btn" (click)="signout()">
              {{ "Navbar.SignOut" | translate }}
            </button>
          </ul>
        </ng-template>
      </div>

      <a routerLink="/cart"
        ><span class="material-icons icons"> shopping_cart </span>
        <h4>
          {{ "Navbar.Cart" | translate }}
          <span *ngIf="this.qty !== 0"
            ><p class="qty">( {{ qtyEmitter$ | async }} )</p></span
          >
        </h4></a
      >
    </div>
    <div class="language-selector">
      <p class="language-selector-p">
        {{ "Navbar.Language" | translate }}
        <select #langSelect (change)="translate.use(langSelect.value); setLanguage(langSelect.value)">
          <option
            *ngFor="let lang of translate.getLangs()"
            [value]="lang"
            [selected]="lang === translate.currentLang"
          >
            {{ lang }}
          </option>
        </select>
      </p>
    </div>
  </nav>
  <div class="horizontal"></div>
</div>
