<div class="product-list">
  <app-product-item
    class="child"
    *ngFor="let product of products | filterProduct: searchTerm"
    [product]="product"
  ></app-product-item>
  <i aria-hidden="true"></i>
  <i aria-hidden="true"></i>
  <i aria-hidden="true"></i>
  <i aria-hidden="true"></i>
</div>
<div class="page-controls">
  <button
    (click)="decreasePageNo()"
    *ngIf="pageNumber > 0"
    title="Go to previous page"
  >
    < Previous
  </button>
  Page: <span>{{ pageNumber + 1 }} </span> of {{ totalPages }}
  <button
    (click)="increasePageNo()"
    title="Go to next page"
    *ngIf="pageNumber + 1 < totalPages"
  >
    Next >
  </button>
</div>
<div class="footer"></div>
