.product-list {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  width: 80%;
  margin: 120px auto;
}
i{
  width: 200px;
  margin: 16px;
}
