.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 80%;
  margin: 120px auto;
}
i {
  width: 200px;
  margin: 16px;
}
.page-controls {
  text-align: center;
  margin-bottom: 100px;
  margin-top: -100px;
}
.page-controls > button {
  background-color: transparent;
  border: none;
  color: #0000ff;
}
.page-controls > span {
  color: #0000ff;
}
.footer {
  height: 100px;
}
