<app-navbar></app-navbar>
<div *ngIf="products.length != 0" class="main">
  <div class="container mat-elevation-z2">
    <div
      class="mat-elevation-z3 flex list"
      [ngClass]="{ current: section === 1 }"
      (click)="section = 1"
    >
      <h2>Order review</h2>
      <div *ngFor="let product of products" class="space-between">
        <div class="image-detail">
          <img src="{{ product.image }}" />
          <p>{{ product.name.slice(0, 40) | titlecase }}</p>
        </div>
        <div>
          <span class="price"> {{ product.qty }} piece </span>
          <span class="price">
            {{ (product.price * product.qty).toFixed(2) }} lei
          </span>
        </div>
      </div>
      <div></div>
      <div class="actions distance-top">
        <mat-icon></mat-icon>
        <button [routerLink]="'/cart'">Modify</button>
        <mat-icon
          (click)="changeSection(2, $event)"
          [style.visibility]="section == 1 ? 'visible' : 'hidden'"
          >forward</mat-icon
        >
      </div>
    </div>
    <div
      class="mat-elevation-z3 flex"
      [ngClass]="{ current: section === 2 }"
      (click)="section = 2"
    >
      <h2>Shipping and billing</h2>
      <div class="flex-container">
        <div>
          <div class="price">Name:</div>
          <div class="price">Shipping address:</div>
          <div class="price">Contact phone:</div>
        </div>
        <div>
          <div>{{ user.firstName }} {{ user.lastName }}</div>
          <div *ngIf="user.addressEntity != null">
            {{ user.addressEntity.address }}, {{ user.addressEntity.city }}
          </div>
          <div *ngIf="user.addressEntity == null">-</div>
          <div>{{ user.telephone }}</div>
        </div>
      </div>
      <div class="actions">
        <mat-icon
          class="reverse"
          (click)="changeSection(1, $event)"
          [style.visibility]="section == 2 ? 'visible' : 'hidden'"
          >forward</mat-icon
        >
        <button [routerLink]="'/account/details'">Modify</button>
        <mat-icon
          (click)="changeSection(3, $event)"
          [style.visibility]="section == 2 ? 'visible' : 'hidden'"
          >forward</mat-icon
        >
      </div>
    </div>
    <div
      class="mat-elevation-z3 flex"
      [ngClass]="{ current: section === 3 }"
      (click)="section = 3"
    >
      <h2>Confirm order</h2>
      <div class="space-between">
        <span class="price distance">Products: </span>
        <p>{{ orderValue }} lei</p>
      </div>
      <div class="space-between">
        <span class="price distance">Shipping: </span
        ><span>{{ transportFee }} lei</span>
      </div>
      <h2></h2>
      <div class="space-between">
        <span class="price distance bigger">Total value: </span
        ><span class="bigger">{{ orderValue }} lei</span>
      </div>
      <div class="actions">
        <mat-icon
          class="reverse"
          (click)="changeSection(2, $event)"
          [style.visibility]="section == 3 ? 'visible' : 'hidden'"
          >forward</mat-icon
        >
        <button (click)="placeOrder(); confirm = true">Send Order</button>
        <mat-icon></mat-icon>
      </div>
    </div>
  </div>
  <div class="confirm" *ngIf="confirm == true">
    <mat-icon>check_circle_outline</mat-icon>
    <h3>Your order was sucessfully registered.</h3>
    <h2>Thank you.</h2>
  </div>
</div>
<div class="main container" *ngIf="products.length == 0">
  No products in cart
</div>
