@import "~@angular/material/theming";
.register {
  width: 300px;
  margin: 120px auto;
  @include mat-elevation(3);
  padding: 50px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  img {
    width: 200px;
  }
  label{
    padding: 1rem;
  }
  select{
    margin-bottom: 1rem;
  }
  .register-button {
    background-image: linear-gradient(to left, #5fd4d2, #634fbd 40%);
    color: white;
    width: 20rem;
    height: 2rem;
    margin: 5px auto;
    border-radius: 3%;
    border: none;
    font-size: 1.2rem;
  }
  .register-user-disabled {
    width: 250px;
    margin: 5px auto;
    border-radius: 3%;
    border: none;
    font-size: 1.2rem;
  }
  .first-btn {
    margin-top: 20px;
    background-image: linear-gradient(to right, #5fd4d2, #634fbd 40%);
  }
  .next {
    background-image: linear-gradient(to left, #5fd4d2, #634fbd 40%);
    margin-top: 20px;
  }
  input{
    height: 1rem;
    outline: none;
    border: none;
    width: 20rem;
    margin: 0.3rem;
  }
  .inputs{
    border: 1px solid #979292;
    border-radius: 3%;
    overflow: hidden;
    width: 20rem;
    display: flex;
  }
  .invalid-inputs{
    border: 1px solid red;
  }
  .inputs:focus-within{
    @include mat-elevation(2);
  }
  .mat-icon{
    padding-right: 0.2rem;
  }
}
.confirm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 3rem;
  min-width: 40%;
  text-align: center;
  background-color: white;
  border-radius: 2%;
  border: 2px solid #56c465;
  .mat-icon {
    font-size: 3rem;
    color: #56c465;
  }
}
hr{
  border-top: 1px solid #979292;
}
.red{
  margin-top: 0.5rem;
  color:red;
}
ul{
  margin-top: 0.2rem;
  text-align: left;
}
