<div class="register">
  <img src="../../../assets/estore.jpg" alt="" routerLink="/" />
  <form #registerForm="ngForm" (submit)="submit()">
    <h1>Register</h1>
    <hr />
    <div *ngIf="option === 1">
      <label for="title">Gender</label>
      <select name="title" [(ngModel)]="user.sex" required >
        <option>F</option>
        <option>M</option>
        <option>Other</option></select
      ><br />
      <label for="firstName">First Name</label><br />
      <div class='inputs'>
        <input
          type="text"
          name="firstName"
          [(ngModel)]="user.firstName"
          required
        />
      </div>
      <br />
      <label for="lastName">Last Name</label><br />
      <div class="inputs">
        <input
          type="text"
          name="lastName"
          [(ngModel)]="user.lastName"
          required
        />
      </div>
      <br />
      <label for="email">E-mail</label><br />
      <div class="inputs"><input type="text" name="email" [(ngModel)]="user.email" required /></div><br />
      <button class="register-button next" (click)="optionIncrease()">
        Next
      </button>
    </div>
    <div *ngIf="option === 2">
      <label for="username">Username</label><br />
      <div class="inputs">
        <input
          type="text"
          name="username"
          [(ngModel)]="user.username"
          required
        />
      </div>
      <br />
      <label for="password">Password</label><br />
      <div class="inputs" [class]="passwordValid ? 'red' : 'blue'">
        <input
          [type]="hide1 ? 'password' : 'text'"
          name="password"
          [(ngModel)]="user.password"
          (keyup)='checkValidity()'
          required
        />
        <mat-icon (click)="hide1 = !hide1">{{
          hide1 ? "visibility_off" : "visibility"
        }}</mat-icon>
      </div>
      <br />
      <label for="repeat-password">Repeat Password</label><br />
      <div class="inputs" [ngClass]="{'red': wrongRetype}">
        <input 
          [type]="hide2 ? 'password' : 'text'" 
          name="repeat-password"  
          [(ngModel)]="passwordRetype" 
          required
          (keyup)='checkMatch()'
          />
        <mat-icon (click)="hide2 = !hide2">{{
          hide2 ? "visibility_off" : "visibility"
        }}</mat-icon>
      </div>
      <br />
      <button class="register-button" (click)="optionIncrease()">Next</button>
     <br />
      <hr />
      <button class="register-button first-btn" (click)="optionDecrease()">
        Previous</button
      >
    </div>
    <div *ngIf="option === 3">
      <h2 *ngIf="success == 1">User Successfuly Created</h2>
      <h2 *ngIf="success == 2">There was and error please try again</h2>
      <label for="phone">Phone Number</label><br />
      <input
        type="text"
        name="phone"
        [(ngModel)]="user.telephone"
        required
      /><br />
      <label for="address">Address</label><br />
      <div class="inputs">
        <input 
          type="text"
          name="address"
          [(ngModel)]="user.addressEntity.address"
          required
        />
      </div>
      <br />
      <label for="county">County</label><br />
      <div class="inputs">
        <input
          type="text"
          name="county"
          [(ngModel)]="user.addressEntity.county"
          required
        />
      </div>
      <br />
      <label for="city">City</label><br />
      <div class="inputs">
        <input
          type="text"
          name="city"
          [(ngModel)]="user.addressEntity.city"
          required
        />
      </div>
      <br />
      <label for="postal-code">Postal Code</label>
      <div class="inputs">
        <input
          type="text"
          name="postal-code"
          [(ngModel)]="user.addressEntity.postalCode"
          required
        />
      </div>
      <br />
      <button class="register-button first-btn" (click)="optionDecrease()">
        Previous</button
      ><br />
      <hr />
      <button
        [ngClass]="
          !registerForm.valid ? 'register-user-disabled' : 'register-button'
        "
        type="submit"
        [disabled]="!registerForm.valid"
      >
        Register
      </button>
    </div>
  </form>
  <div class="confirm" *ngIf="success == 1">
    <mat-icon>check_circle_outline</mat-icon>
    <h3>User created successfuly</h3>
    <h2>Redirecting to sign in page</h2>
  </div>
</div>
