<div class="container mat-elevation-z2">
  <img src="../../../assets/estore.jpg" alt="logo" routerLink="/" />
  <h2>Authentication</h2>
  <div>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group inputs">
        <input
          type="text"
          formControlName="username"
          [ngClass]="{
            'is-invalid': submitted && formControls.username.errors
          }"
          placeholder="*User name"
        />
        <div
          *ngIf="submitted && formControls.username.errors"
          class="invalid-feedback"
        >
          <div *ngIf="formControls.username.errors.required">
            Username is required
          </div>
        </div>
      </div>
      <span class="spacer"></span>
      <div
        *ngIf="
          formControls.password.errors && formControls.password.errors.pattern
        "
        style="color: #ff0000"
      >
        Password must be 8 or more characters. <br />
        Must have upper and lower case letters.<br />
        Must contain at least one number and on symbol.
      </div>
      <div class="form-group inputs">
        <input
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          [ngClass]="{
            'is-invalid': submitted && formControls.password.errors
          }"
          placeholder="*Password"
          title="Password must contain: one uppercase letter, one number,
           one special character and be at lest 8 characters long."
        />
        <mat-icon (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <div
          *ngIf="submitted && formControls.password.errors"
          class="invalid-feedback"
        >
          <div *ngIf="formControls.password.errors.required">
            Password is required
          </div>
        </div>
      </div>
      <div *ngIf="errorFromServer" class="invalid-feedback">
        {{ serverMessage }}
      </div>
      <span class="spacer"></span>
      <p><span style="color: #ff0000">*</span>Fields are mandatory.</p>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Login
        </button>
        <h4>or</h4>
        <button routerLink="../register" class="btn btn-link">
          Create Acount
        </button>
      </div>
    </form>
    <div class="confirm" *ngIf="popup">
      <h3 class="confirm-header">{{ serverMessage }}</h3>
    </div>
  </div>
</div>
