@import "~@angular/material/theming";
.container {
  padding: 2%;
  max-width: 55%;
  min-width: fit-content;
  background: white;
  border-radius: 2%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2 {
    border-bottom: 1px solid #979292;
    padding: 0 3rem 1rem 3rem;
    margin-bottom: 2rem;
  }
  img {
    width: 7rem;
    margin-bottom: 1rem;
  }
  input {
    height: 2rem;
    outline: none;
    border: none;
    width: 89%;
  }
  .buttons {
    background-image: linear-gradient(to right, #5fd4d2, #634fbd 40%);
    color: white;
    min-width: 60vmin;
    min-height: 2rem;
    border-radius: 3%;
    border: none;
    font-size: 1.2rem;
    align-self: center;
    margin: 3% auto;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .inputs {
    border: 1px solid #979292;
    border-radius: 3%;
    overflow: hidden;
    width: 100%;
    min-width: 60vmin;
    padding: 0;
  }
  .inputs:focus-within {
    @include mat-elevation(2);
  }
  .spacer {
    margin: 1rem;
  }
  .forgot{
    padding: 0.5rem;
    text-align: right;
  }
  .forgot:hover{
    cursor: pointer;
  }
  .forgot:active{
    outline: none;
  }
  .send-email{
    background-image: linear-gradient(to right, #5fd4d2, #634fbd 40%);
    color: white;
    min-width: 20vmin;
    min-height: 2.1rem;
    border-radius: 3%;
    border: none;
    font-size: 1.2rem;
    align-self: flex-end;
    margin: 0;
    cursor: pointer;
  }
  .forgot-section{
    display: flex;
    flex-direction: row;
  }
  mat-icon {
    vertical-align: middle;
    color: #817e7e;
    padding: 0 0.6rem;
    cursor: pointer;
  }
  h4 {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  }
  h4:before,
  h4:after {
    content: " ";
    flex: 1 1;
    border-bottom: 1px solid #979292;
    margin: auto 1rem;
  }
  .invalid-feedback {
    color: #ff0000;
  }
  .confirm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 3rem;
    min-width: 40%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 2%;
    border: 2px solid #e02525;
    width: 100%;
    height: 50%;
    .confirm-header {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.mat-typography,
body {
  margin: 5% auto;
  max-height: 90%;
}

