<div class="header">
  <nav class="navbar">
    <img src="../assets/estore.jpg" alt="" routerLink="/" />
    <div class="search">
      <input type="text" (keyup)="changeSearchTerm($event)" /><span
        class="material-icons search-icon"
      >
        search
      </span>
    </div>
    <div class="nav-options">
      <a routerLink="/"
        ><span class="material-icons icons"> perm_contact_calendar </span>
        <h3>Contact</h3></a
      >
      <a routerLink="/cart"
        ><span class="material-icons icons"> shopping_cart </span>
        <h3>
          Cart
          <span *ngIf="cart.length > 0">( {{ qty }} )</span>
        </h3></a
      >
    </div>
  </nav>
  <div class="horizontal"></div>
</div>

<router-outlet></router-outlet>
